@import 'meyer-reset.css';

/* SETUP */

* {
    box-sizing: border-box;
}

picture {
    display: block;
}

img {
    display: block;
    width: 100%;
    height:auto;
}

a {
    display: block;
    color:inherit;
    text-decoration: none;
}

p a {
    display: inline-block;
}

/* DEV STYLES */

/* body * {
    border: 1px solid blue;
    padding: 2px;
} */

/*STRUCTURE*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
}

inner-column {
    display: block;
    border: 4px solid orange;
    padding: 10px;
}

/*TYPOGRAPHY*/
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    line-height: .9;
    color: black;
    /* color: #f9faf8 */
}

.hero-secondary-text {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    /* color: #e5e7eb; */
}

/*COMPONENTS*/

.btn {
    display: inline-block;
    background-color: #3882f6 ;
    color: #e5e7eb;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;

}


/*MODULES*/
graphic-welcome {
    display: block;
}

graphic-welcome text-content {
    display: block;
}

graphic-welcome picture {
    display: block;
}

@media (min-width: 700px){
    graphic-welcome{
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }
    graphic-welcome :is(text-content, picture){
        flex-basis: 50%;
        border: 1px solid blue;
    }
}